[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
termcolor = "*"
schedule = "*"
newsapi-python = "*"
azure-ai-textanalytics = "==5.1.0"

[dev-packages]
pytest = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
